* {
  box-sizing: border-box;
}

body {
    background-color: burlywood;
}

h1 {
  margin: 100px;
  text-align: center;
  font-family: Luminari, fantasy;
  font-weight: bold;
  font-size: 175%;
}

section {
  position: relative;
  padding: 15px;
  width: 100%;
}

div {
  position: relative;
  background-color: gray;
  border: 1px solid black;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

p {
  position: relative;
  clear: right;
}

.sec1 {
  float: right;
  width: 100px;
  padding: 5px;
  margin: 0px;
  border: 1px solid black;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  background-color: rgb(168, 106, 106);
}

.sec2 {
  float: right;
  color: white;
  width: 100px;
  padding: 5px;
  margin: 0px;
  border: 1px solid black;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  background-color: brown;
}

.sec3 {
  float: right;
  color: black;
  width: 100px;
  padding: 5px;
  margin: 0px;
  border: 1px solid black;
  text-align: center;
  font-size: 125%;
  font-weight: bold;
  background-color: rgb(197, 154, 75);
}

.description {
  padding: 5px;
  border: none;
  font-family: URW Chancery L, cursive;
  color: black;
  margin: 0px;
  height: 200px;
  overflow: auto;
}

.row {
  width: 90%;
}

/*Desktop*/
@media (min-width: 992px) {
  .column-lg-4 {
    float: left;
    width: 33.33%;
  }
}
/*Tablet*/
@media (min-width: 768px) and (max-width: 991px) {
  .column-md-6 {
    float: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .column-md-12 {
    float: left;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
/*Mobile Phone*/
@media (max-width: 767px) {
  .column-sm-12 {
    float: left;
    width: 100%;
  }
}